@charset "utf-8";
@color1:#EEEEEE;
@color2:#C9C9C9;
@color3:#494949;
@color4:#C54473;
@color5:#c3c3c3;
.wrap{
    width: 7.1rem;
    max-width: 7.5rem;
    margin: 0 auto;
    header{
        height: 0.9rem;
        background-color: aqua;
        // layout
        display: flex;
        // 主轴对齐方式
        justify-content: space-between;
        // 交叉轴对齐方式
        align-items: center;
        form input{
            width: 3.06rem;
            height: 0.4rem;
            background-color: @color1;
            border-radius: .07rem;
            text-align: center;
            font-size: .16rem;
        }
        form input::-webkit-input-placeholder{
            color:@color2;
        }
        i{
            font-size: .55rem;
        }
    }
    nav{
        width: 100%;
        height: .75rem;
        
        .list{
            width: 100%;
            height: 100%;
            // background-color: chocolate;
            white-space: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding-left: .15rem;
            position: relative;
            li{
                flex-grow: 1;
                margin-right: .42rem;
                a{
                    display: inline-block;
                    font: .25rem/.71rem "微软雅黑";
                    color:@color3;
                    &:hover{
                        color:@color4;
                        border-bottom: 4px solid @color4;
                    }
                }
            }
            .downarrow{
                display: block;
                width: .75rem;
                height: .75rem;
                line-height: .75rem;
                position: absolute;
                background-color: #ffffff;
                top: 0;
                right: 0;
                font-size: .4rem;
                text-align: center;
                color:@color5;
            }
           
        }
        .list::-webkit-scrollbar{
             display: none;
        }
    }
}
