@charset "utf-8";
.wrap {
  width: 7.1rem;
  max-width: 7.5rem;
  margin: 0 auto;
}
.wrap header {
  height: 0.9rem;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap header form input {
  width: 3.06rem;
  height: 0.4rem;
  background-color: #EEEEEE;
  border-radius: 0.07rem;
  text-align: center;
  font-size: 0.16rem;
}
.wrap header form input::-webkit-input-placeholder {
  color: #C9C9C9;
}
.wrap header i {
  font-size: 0.55rem;
}
.wrap nav {
  width: 100%;
  height: 0.75rem;
}
.wrap nav .list {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 0.15rem;
  position: relative;
}
.wrap nav .list li {
  flex-grow: 1;
  margin-right: 0.45rem;
}
.wrap nav .list li a {
  display: inline-block;
  font: 0.25rem/0.71rem "微软雅黑";
  color: #494949;
}
.wrap nav .list li a:hover {
  color: #C54473;
  border-bottom: 4px solid #C54473;
}
.wrap nav .list .downarrow {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: -0.2rem;
  font-size: 0.4rem;
  text-align: center;
  color: #c3c3c3;
}
.wrap nav .list::-webkit-scrollbar {
  display: none;
}
.banner img {
  width: 7.5rem;
  height: 3rem;
}
