
.wrap{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 1.18rem;
}
header{
    height: 0.9rem;
    width: 7.5rem;
    background-color: #fff;

    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ddd;
}
header>a>img{
    width: 2.05rem;
    height: 0.41rem;
}
header>form>input{
    text-indent: 0.28rem;
    width: 3.92rem;
    height: 0.48rem;
    border-radius: 0.24rem;
    background-color: #eeeeee;
}
/* banner */
.banner>img{
    max-width: 100%;
}
/* 、底部固定导航 */
.tabnav{
    width: 100%;
    max-width: 7.5rem;
    height: 1.17rem;
    border-top: 1px solid #ebebeb;
    /* background-color: #f7f9fa; */
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.tabnav>a{
    font-size: 0.21rem;
    color: #333;
}